.container{
    margin-top: 109px ;
}

p {
    height: 20px ;
    width: 370px ;
    color: gray;
}
img {
    margin-left: -6px ;
    margin-bottom: 40px ;
    width: 160px;
    height: 160px;
}
.form-group{
    margin: 0px 450px;
    padding: 10px;
}
.input{
    margin: 50px 0px 15px 0px  ;
}
.checkbox {
    padding-right: 150px ;
}
.checkbox-text{
    margin-left: 30px ;
}
.bottom-button{
    margin: 40px ;
}